body {
    display: grid;
    grid-template-columns: repeat(6, 3fr);
    gap: 20px;
    padding: 20px;
}

.carta {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
    overflow: hidden;
    background-color: #f9f9f9;
}

.imagen-carta {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

h3 {
    margin-top: 10px;
    font-size: 1.2rem;
}

p {
    margin: 5px 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px 0;
}

/* Colores por rareza */
.comun { background-color: #6cb2eb; }
.poco-comun { background-color: #7fdcb5; }
.rara { background-color: #f6c384; }
.epica { background-color: #f59b7d; }
.legendaria { background-color: #c888e6; }
.mitica { background-color: #ff5fba; }
